@keyframes rotation {
  0% {
      transform:rotate(0deg);
  }
  100% {
      transform:rotate(360deg);
  }
}

.header__square-pic {
  position        : absolute;
  right           : 0;
  top             : 64px;
  background-color: #2f80ed;
  width           : 568px;
  height          : 568px;
  z-index         : 0;
  animation-name: rotation;
  animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



