.kaufman__triangle {
  position       : absolute;
  z-index        : 0;
  height         : 877px;
  width          : 877px;
  top            : 0;
  right          : -210px;
  background-size: cover;
  animation      : rotation 20s infinite linear;
  background-image: url("../../../images/kaufman-triangle.svg");

}
