.page {
min-width: 1100px;
max-width: 1600px;
margin: 0 auto;
font-family: 'Helvetica Neue', Arial, sans-serif;
}

.logo {
width: 228px;
height: 32px; ;
}

.logo_place_header {
position: absolute;
top: 30px;
left: 64px;

}

.header {
height: 100vh;
min-height: 600px;
max-height: 756px;
background-color:#f2f2f2  ;
position: relative;
display:flex;
align-items:center;
justify-content: start;
}

.header__title {
max-width: 730px;
font-size: 102px;
font-weight:600;
line-height: 96px;
padding-left: 64px;
}

.header__subtitle {
position: absolute;
left: 64px;
bottom: 30px;
max-width: 388px;
line-height: 25px;
font-size: 18px;
font-style: normal;
}

.disable {
color: #2f80ed;
text-decoration: none;
}


.main-illustration {
width: 765px;
height: 608px;
display: block;
z-index: 1;
}

.main-illustration_place_header{
position: absolute;
right: 0;
bottom: 0;
}

.square-pic {
position: absolute;
right: 0;
top: 64px;
background-color: #2f80ed;
width: 568px;
height: 568px;
}




.description {
margin-top: 100px;
margin-bottom: 100px;
background-color: white;
}

.two-columns {
display: flex;
justify-content: space-between;
margin-left: 175px;
margin-right: 175px;
}

.two-columns__brief {
color: #2f80ed;
line-height: 1.2;
font-size: 18px;
font-style: normal;
margin: 0;
}

.two-columns__main-text {
display: flex;
flex-direction: column;
align-items: stretch;
width: 80%;
min-width: 784px;
line-height: 34px;
font-size: 24px;
font-style: normal;
gap: 30px;
}

.two-columns__paragraph {
margin: 0;
}

.two-column__span-accent {
line-height: 34px;
font-size: 24px;
font-weight: 600;
margin-top: 30px;
margin-bottom: 30px;
}




.digits {
background-color: white;
}


.section-title {
margin-top: 100px;
margin-bottom: 20px;
width: 60%;
display: block;
margin-left: auto;
margin-right: auto
}

.section-title__paragraph {
line-height: 1.15;
font-size: 60px;
font-weight: 600;
text-align: center;
margin: auto;
}

.section-subtitle {
width: 60%;
display: block;
margin-left: auto;
margin-right: auto;
}

.section-subtitle__text {
line-height: 34px;
font-size: 24px;
font-style: normal;
text-align: center;
margin: auto;
margin-top: 20px;
margin-bottom: 60px;
}

.table {
display:flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0;
padding: 0;
list-style: none;
margin-left: auto;
margin-right: auto;
margin-bottom: 100px;
width: 1100px;
}

.table__cell {
width: 250px;
margin-top: 60px;
}

.table__heading {
font-size: 24px;
font-weight: 600;
line-height: 1.15;
margin-bottom: 20px;
margin: 0;
}

.table__text{
font-size: 18px;
font-style: normal;
line-height: 1.12;
margin-top: 20px;
margin-bottom: 0;

}



.feynman {
background-color: #f2f2f2;
position: relative;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
justify-content: flex-start;
align-items: center;
height: 890px;
margin-top: 100px;
}

.feynman__title {
font-size: 120px;
font-weight: 600;
line-height: 1.15;
margin-top: 100px;
z-index: 2;
margin-bottom: 70px;
width: 648px;
text-align: center;
}

.feynman__subtitle {
font-size: 36px;
font-style: normal;
line-height: 51px;
z-index: 1;
margin: 0;
}


.feynman__link {
color: #2f80ed;
text-align: center;
position: absolute;
right: 0;
bottom: 50%;
margin-right: 48px;
font-size: 36px;
font-style: normal;
line-height: 51px;
text-decoration: none;
}

.feynman__feynman {
position: absolute;
left:  0;
bottom: 0;
z-index: 0;
background-size: 867px 637px;
}




.kaufman {
background-color: black;
color: white;
position: relative;
overflow: hidden;
display: block;

}

.section-title_theme_dark {
display: block;
width: 60%;
margin:  auto;
text-align: center;
font-size: 60px;
font-weight: 600;
line-height: 1.15;
margin-top: 90px;
margin-bottom: 20px;
}

.section-subtitle_theme_dark {
display: block;
margin:  auto;
text-align: center;
font-size: 24px;
font-style: normal;
line-height: 34px;
width: 60%
}

.table_theme_dark{
display:flex;
flex-wrap: wrap;
justify-content: space-between;
margin: 0;
padding: 0;
list-style: none;
margin-bottom: 90px;
z-index: 1;
width: 1100px;
margin-left: auto;
margin-right: auto;
}

.table__cell_theme_dark {
width: 200px;

z-index: 1;
margin-top: 80px;
}

.table__heading_theme_dark {
font-size: 24px;
font-weight: 600;
line-height: 1.15;
z-index: 1;
margin: 0;
margin-bottom: 20px;
}

.table__text_theme_dark {
font-size: 18px;
font-style: normal;
line-height: 1.2;
margin: 0;
}

.kaufman__triangle {
position: absolute;
background-image: url(../images/kaufman-triangle.svg);
z-index: 0;
height: 877px;
width: 877px;
top: 0;
right: -210px;
background-size: cover;
}






.footer {
background-color: black;
color: white;
min-height: 350px;
margin: 0 auto;
display: flex;
justify-content: space-between;
}

.footer__columns {
margin-top: 60px;
margin-bottom: 40px;
margin-left: 40px;
width: 90%;
display: flex;
justify-content: space-between;
}

.footer__column__content_copyright {
display: flex;
flex-direction: column;
justify-content: space-between;
flex-basis: 711px;
}

.logo_place_footer {
width: 228px;
height: 32px;
}

.footer__author {
font-size: 18px;
font-style: normal;
line-height: 25px;
margin-top: 18px;
margin-bottom: 18px ;
}

.footer__column__content_info {
display: flex;
flex-direction: column;
}

.footer__column__heading{
margin: 0;
font-size: 18px;
font-weight: 600;
line-height: 30px;
margin-bottom: 20px;

}

ul li {
list-style-type: none;
}


.footer__column__content_social {
display: flex;
flex-direction: column;
}

.footer__column-link {
margin: 0;
color: #f2f2f2;
padding: 0;
text-decoration: none;
}

.footer__column-links {
color: #f2f2f2;
text-decoration: none;
font-size: 18px;
font-style: normal;
line-height: 30px;

}

.social_icon {
color: #f2f2f2;
width: 16px;
height: 16px;
padding-right: 10px;
}





